body{
    background-image: url("../img/bg.jpg");
}
.library-wrapp{
    max-width:1000px;
    margin:0 auto;
    width: 100%;
}
.book{
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: top;
}
.book img{
    width:100%;
    vertical-align: top;
}
.bookmas{
    font-size: 20px;
    color: green;
    font-weight: bold;
    margin: 1.5%;
    cursor: pointer;
}
.booknone{
    display: none;
}
.none{
    display: none;
}
.readmore, news__big-text{
    display: block;
}
.readmore.none, news__big-text.none{
    display: none;
}

.wrapper {
    display: flex;
}

aside {
    width: 200px;
}

aside a.active {
    font-weight: bold;
}

.main-container {
    flex: 1;
}
